body {
  background-color: none   ;
  font-family: "Poppins", sans-serif;
  background-image: url(https://img.freepik.com/free-vector/copy-space-wavy-white-background_23-2148845471.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

marquee {
  background-color: aqua ;
  font-size: medium;
}

.Hdimg {
  font-weight: bold ;
  font-family: "Poppins", sans-serif;
}

.Hd-Desc {
 text-align: left ;
 font-family: "Poppins", sans-serif ;
 font-size: medium ;
}

.txt-client {
  text-align: center;
  font-size: xx-large ;
  font-family: "Poppins", sans-serif ;
}

.txt-client2 {
  text-align: center;
  font-size: 20px;
  font-family: "Poppins", sans-serif ;
}

#mapContainer {
  max-width: 100%;
  width: 100%;
}


.card {
  transition: transform 0.3s;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  width: 100%;
  height: 30%;
  
}


.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4);
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}
.custom-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s, transform 0.3s;
  background-color: whitesmoke;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  height: auto ;
}
.custom-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}
.custom-card .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.custom-card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.custom-card .card-text {
  font-size: 1rem;
}
.custom-card .read-more {
  cursor: pointer;
  color: black ;
  font-style: oblique;
}